@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.bg-custom {
  background-image: url("./assets/bgImage.jpg");
  background-size: cover;
  background-position: center;
  /* backdrop-filter: blur(24px); */
}


.bg-custom{
  background-color: #5e492c/50;
}